<% if @speakers.any? %>
  <ul>
    <% @speakers.each do |speaker| %>
    <li class="speaker"><%= speaker.firstname + " " + speaker.lastname %></li>
    <% end %>
  </ul>
<% else %>
No speakers
<% end %>
